# Set user directory
USER_PATH=/home/tbryant

# Backup storage directory
BACKUPFOLDER=$USER_PATH/mysql_backup/backups

# Remote backup storage directory
REMOTE_BACKUPFOLDER=/mnt/bryantnas/mysql_backups

# MySQL user
DB_USER=$MYSQL_USER

# Number of days to store the backup
KEEP_DAY=3

SQLFILE=$BACKUPFOLDER/all-database-$(date +%d-%m-%Y_%H-%M-%S).sql
ZIPFILE=$BACKUPFOLDER/all-database-$(date +%d-%m-%Y_%H-%M-%S).zip

HEALTHCHECKS_URL=""
